<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<ItemGroup>
    <ProjectReference Include="C:\Users\Dell\source\repos\BankDbtier\BankDbtier\BankDbtier.csproj" />
  </ItemGroup>
	<system.runtime.remoting>

		<application name="DemoClient">



			<client url="tcp://localhost:5150">

				<activated type="BankDbtier.DbBank, Bank" />

			</client>



		</application>

	</system.runtime.remoting>


</configuration>